body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.subheader-text {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.75rem;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
}

.carousel {
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
}